import pytest

@pytest.fixture
def tag_submissions():
    return {{ tag_submissions }}

@pytest.fixture
def errors():
    return {{ error_submissions }}

{% for error in error_submissions %}
def test_error_{{ loop.index0 }}():
    """
    ERROR
    """

    print("""ERROR: {{ error }}""")

    assert "{{ error }}" == ""
{% endfor %}


{% for tag_id in tag_ids %}
def test_{{ tag_id }}(tag_submissions):
    """
        {% set tag = tag_db[tag_id] %}
        {% if tag.comp_op == "GELE" %}
            {{ tag.lower_limit }} ≤ X ≤ {{ tag.upper_limit }}.
        {% elif tag.comp_op == "GTLT" %}
            {{ tag.lower_limit }} < X < {{ tag.upper_limit }}.
        {% elif tag.comp_op == "EQ" %}
            X == {{ tag.expected_val }}.
        {% elif tag.comp_op == "GT" %}
            X > {{ tag.lower_limit }}.
        {% elif tag.comp_op == "GE" %}
            X ≥ {{ tag.lower_limit }}.
        {% elif tag.comp_op == "LT" %}
            X < {{ tag.upper_limit }}.
        {% elif tag.comp_op == "LE" %}
            X ≤ {{ tag.upper_limit }}.
        {% elif tag.comp_op == "LOG" %}
            LOG(X)
        {% else %}
            UNSUPPORTED COMAPRISON OPERATOR
        {% endif %}
    """

    {% set tag = tag_db[tag_id] %}
    {% set tag_value = tag_submissions[tag_id] %}
    print(f"value submitted: {{tag_value}}")
    print("""{{tag}}""")
    assert {{ tag.is_passing(tag_value) }}
{% endfor %}
