site_name: sil
theme:
  name: material
  palette:
    - scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.top
    - navigation.footer
    - navigation.instant
    - navigation.indexes
    - search.suggest
    - content.code.copy
    - content.tooltips

  icon:
    repo: fontawesome/brands/github
    logo: material/book-open-variant
  favicon: assets/favicon.svg

extra_css:
  - stylesheets/extra.css

copyright: Copyright &copy; McMaster Formula Electric

plugins:
  - search
  - open-in-new-tab
  - spellcheck:
      backends:  # the backends you want to use
      - symspellpy  # as strings
      - codespell:  # or nested configs
          dictionaries: [clear]

      # ignore words in <code> tags
      ignore_code: yes

      # minimum length of words to consider
      min_length: 2

      # maximum number of capital letters in a word
      max_capital: 1

      # keep unicode characters
      allow_unicode: no

      # skip files entirely (supports Unix shell-style wildcards)
      skip_files:
      - credits.md
      - coverage.md
      - reference/* 

      # whether to only check in strict mode
      strict_only: yes

markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.snippets:
      base_path:
        - !relative
        - !relative $docs_dir/../
  - pymdownx.arithmatex:
      generic: true 

repo_url: https://github.com/macformula/hil
repo_name: macformula/hil

extra:
  social:
    - icon: material/web
      link: https://macformularacing.com/
    - icon: material/email
      link: mailto:formula@mcmaster.ca
    - icon: fontawesome/brands/github
      link: https://github.com/macformula
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/mac-formula-electric/
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/macformulaelectric/
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/MACFormulaElectric/

nav:
  - Home:
    - index.md
  - Tutorials:
    - Setting up the SIL:
      - tutorials/index.md
      - tutorials/setup/1.md
      - tutorials/setup/2.md
      - tutorials/setup/3.md
      - tutorials/setup/4.md
  - Mac Formula:
    - macfe/index.md
    - macfe/setup.md
    - macfe/run.md

